body {
    font-family: 'Netflix Sans', sans-serif;
    background-color: #fafafa;
    color: #333;
}

header {
    text-align: center;
    background-color: #ff4757;
    color: white;
    padding: 20px;
}

button {
    background-color: #ff4757;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.profile-card {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
}

.swiped-right {
    transform: translateX(500px);
    opacity: 0;
}

.swiped-left {
    transform: translateX(-500px);
    opacity: 0;
}
